version: 2

jobs:
  check_license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint
  build:
    docker:
      - image: cimg/elixir:1.19
    steps:
      - checkout
      - run: mix local.hex --force
      - run: make check

workflows:
  version: 2
  build_test:
    jobs:
      - check_license
      - build
