version: 2

jobs:
  check_license:
    docker:
      - image: fsfe/reuse:latest
    steps:
      - checkout
      - run: reuse lint
  build:
    docker:
      - image: hexpm/elixir:1.19.4-erlang-28.2-ubuntu-noble-20251013
    steps:
      - checkout
      - run: apt-get update && apt-get install -y build-essential ca-certificates
      - run: mix local.hex --force
      - run: make check

workflows:
  version: 2
  build_test:
    jobs:
      - check_license
      - build
